<%= form_with(url: new_booking_path, method: :get) do |f| %>
  <%= f.hidden_field :number_of_tickets, value: (number_of_tickets || 1) %>
  <%= field_set_tag do %>
    <legend>Select a flight:</legend>

    <% search_results.each do |flight| %>
      <label>
        <%= f.radio_button :flight_id, flight.id %>
        <%= flight.departure_airport.code %>
        to
        <%= flight.arrival_airport.code %>
        <%= flight.start_time.strftime("%H:%M:%S %d/%m/%y") %>
      </label>
    <% end %>

  <% end %>
  <%= f.submit "Book" %>
<% end %>
